form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #0097B2, #004f58);

  .myform {
    background-color: #ffffff;
    padding: 2rem;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;

    h2 {
      font-size: 1.8rem;
      font-weight: 600;
      color: #24292e;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #6c757d;
      margin-bottom: 1.5rem;
    }

    label {
      font-size: 0.9rem;
      color: #24292e;
      display: block;
      margin-bottom: 0.25rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ced4da;
      overflow: hidden;
      border-radius: 4px;
      height: 43px;
      
      font-size: 1rem;
      color: #495057;
      margin-bottom: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #00b4d8;
        outline: none;
      }
    }

    .password-field {
      display: flex;
      overflow: hidden;
      border: 1px solid #ced4da; // Outer border for the password field
      border-radius: 4px;
      height: 42px;
      
      input {
        flex: 1; // Input takes the full width
        border: none; // Remove input border
        outline: none; // Prevent blue outline on focus
        padding: 0.75rem;
        height: 41px;
        font-size: 1rem;
      }
      
      .password-toggle {
        width: 44px;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        border: none;
        outline: none; // Prevent focus outline
      }
      
      &:focus-within {
        border-color: #00b4d8; // Optional: Highlight the outer border when focused
      }
    }
    
    
    .agree-terms {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      input[type="checkbox"] {
        margin-right: 0.5rem;
        accent-color: #00b4d8;
      }
      
      label {
        font-size: 0.9rem;
        color: #24292e;

        a {
          color: #00b4d8;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    
    button {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      color: #ffffff;
      background-color: #00b4d8;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      
      &:hover {
        background-color: #0077b6;
      }
    }
  }
}

